<!DOCTYPE html>
<html>
  <head>
    <title>Canopy</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/main.js" type="text/javascript"></script>
  </head>
  <body>
    <h1>Canopy</h1>
    <p>Welcome to <%= adj %></p>
    <input type="file" id="uploadBtn" alt="Upload an Image"  onchange="encodeImageFileAsURL(this)">
    <button onclick="clicky()">Click</button>
  </body>

</html>
